@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

_* {
  outline: 1px solid red;
}

#symbolsInHtml {font-family: "Noto Sans";}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  display: flex;
  margin: 0;
}


main{
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden; 
}

#MomcodeApp {
  flex: 1;
  overflow: auto;
}

aside {
  /* 28em is the width of the sidebars */
  flex: 0 0 28em;
  transition: margin 0.3s ease
}


/* Checkbox hack to toggle aside visibility */
input ~ aside {
  margin-left: -28em;
}
input:checked ~ aside {
  margin-left: 0; 
}

#symbolsInHtml {
  font-size: 2.3em;
  height: 100%;
    /*min-height: 8em;*/
  min-height: 1.8em;

}

.font-size-slider {
  margin-top: 1.8em;
}

.font-size-slider + datalist {
  display: flex;
  justify-content: space-between;
}

tbody:not(.empty) td:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.table-xsm > thead > tr > th,
.table-xsm > tbody > tr > th,
.table-xsm > tfoot > tr > th,
.table-xsm > thead > tr > td,
.table-xsm > tbody > tr > td,
.table-xsm > tfoot > tr > td {
  padding: 1px;
}

.graphic-container {
  height: 25vh;
  display: flex;
  justify-content: space-around;
}

#qrcode-square {
  position: relative;
  flex: 0 0 25vh;
  height: 100%;
}

#qrcode-square > canvas, #qrcode-square > img {
  width: 100%;
  height: 100%;
}

.momcode-square {
  flex: 0 0 25vh;
  height: 100%;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
.momcode-square-injected {
  position: absolute;
  margin: 5%;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  font-size: 26px;
}

.momcode-square > span {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  text-shadow: inherit;
}

.stretch-0 > span {
  width: 20%;
  height: 20%;
}
.stretch-1 > span {
  width: 25%;
  height: 25%;
}
.stretch-2 > span {
  width: 33%;
  height: 33%;
}
/* .stroke-width-0 > span {
  width: 20%;
  height: 20%;
}
.stroke-width-1 > span {
  width: 25%;
  height: 25%;
}
.stroke-width-2 > span {
  width: 33%;
  height: 33%;
} */

.injection-controls {
  font-size: 1.5em;
}




/* section:first-child {
  margin-right: 30px;
}


table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  text-align: center;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
}


#inputText {
  width: 360px;
}


FONT_FAMILY_LIST
div label {
  margin-right: 15px;
}

input[type=radio] {
  margin: 0;
  position: relative;
  top: 2px;
}


#msg {
  color: gray;
}


_section + section fieldset {
  width: 800px;
}
*/