@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

_* {
  outline: 1px solid red;
}

#symbolsInHtml {
  font-family: "Noto Sans";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

#MomcodeApp {
  flex: 1;
  overflow: auto;
}

aside {
  /* 28em is the width of the sidebars */
  flex: 0 0 28em;
  transition: margin 0.3s ease
}

/* Checkbox hack to toggle aside visibility */
input~aside {
  margin-left: -28em;
}

input:checked~aside {
  margin-left: 0;
}

#symbolsInHtml {
  font-size: 2.3em;
  height: 100%;
  /*min-height: 8em;*/
  min-height: 1.8em;
}

.font-size-slider {
  /*margin-top: 1.8em;*/
}

.font-size-slider+datalist {
  display: flex;
  justify-content: space-between;
}

tbody:not(.empty) td:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.table-xsm>thead>tr>th,
.table-xsm>tbody>tr>th,
.table-xsm>tfoot>tr>th,
.table-xsm>thead>tr>td,
.table-xsm>tbody>tr>td,
.table-xsm>tfoot>tr>td {
  padding: 1px;
}

.graphic-container {
  /* height: 250px; */
}

.qrcode-square {
  position: relative;
  width: 250px;
  height: 250px;
  border: 3px solid #ffffff;
  overflow: hidden;
}

.qrcode-square>canvas, .qrcode-square>img {
  width: 100%;
  height: 100%;
}

.version-b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 0;
  overflow: initial;
}

.version-b > .qrcode-square {
  border: 0;
  overflow: initial;
}

.momcode-border {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.momcode-border.momcode-border-top {
  width: 300px;
  height: 50px;
  bottom: 100%;
  right: 0;
  flex-direction: row;
}

.momcode-border.momcode-border-bottom {
  width: 300px;
  height: 50px;
  top: 100%;
  left: 0;
  flex-direction: row-reverse;
}

.momcode-border.momcode-border-right {
  height: 250px;
  width: 50px;
  left: 100%;
  bottom: 0;
  flex-direction: column;
}

.momcode-border.momcode-border-left {
  height: 2500px;
  width: 50px;
  right: 100%;
  top: 0;
  flex-direction: column-reverse;
}

.momcode-square {
  float: left;
  width: 150px;
  height: 150px;
  font-size: 30px;
  /*background-color: rgba(255, 255, 255, 0); */
  overflow: hidden;
}

.momcode-circle {
  float: left;
  width: 150px;
  height: 150px;
  font-size: 30px;
  border-radius: 50%;
  /*background-color: rgba(255, 255, 255, 0); */
  /*border: 1px solid #e0e0e0;*/
  overflow: hidden;
}

.momcode-square-injected {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 75%;
  height: 75%;
  font-size: 26px;
}

.momcode-square>span,
.momcode-circle>span {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  /* text-shadow: inherit;*/
  -webkit-text-stroke-width: inherit;
  -webkit-text-stroke-color: inherit;
}

.qrcode-mom>span {
  text-shadow: inherit;
}

.stretch-0>span {
  width: 5%;
  height: 5%;
}

.stretch-1>span {
  width: 10%;
  height: 10%;
}

.stretch-2>span {
  width: 20%;
  height: 25%;
}

.stretch-3>span {
  width: 25%;
  height: 25%;
}

.stretch-4>span {
  width: 33%;
  height: 34%;
}

.stretch-5>span {
  width: 45%;
  height: 45%;
}

.stretch-6>span {
  width: 80%;
  height: 80%;
}

.injection-controls {
  /*float: left;
  width: calc(100% - 250px*2 - 50px*2);
  margin: 0 50px;
  font-size: 0.8em;*/
}

.injection-controls>label {
  /*  margin: 2px;
  width: 45%;*/
}

.canvas-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 98%;
  /* 15em; */
  height: 98%;
  /* border-radius: 50%; */
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s, width 0.2s, height 0.2s;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.canvas-overlay-circle {
  width: 15em;
  /* 15em; */
  height: 15em;
  border-radius: 50%;
}

.canvas-overlay:hover {
  opacity: 1;
  transition: opacity 0.4s, width 0.2s, height 0.2s;
}

.canvas-overlay>span {
  font-family: sans-serif;
  color: white;
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  cursor: pointer;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#keyboard-v1 {
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#keyboard-v1 td > .keyboard-key {
  flex: 0 0 40px;
  height: 40px;
  margin: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #cccccc;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

#keyboard-v1 tr > td {
  width: 60px;
  vertical-align: middle;
  text-align: center;
}

#keyboard-v1 tr:first-child, tr > td:first-child  {
  font-weight: 900;
}

#keyboard-v1 td > .keyboard-key:hover {
  box-shadow: 0 0 5px #aaaaaa;
  background-color: #fafafa;
}

#keyboard-v1 td > .keyboard-key > .keyboard-key-symbol {
  position: absolute;
  top: 2px;
  right: 2px;
  color: initial;
  font-size: 80%;
}

datalist {
  display: flex;
  justify-content: space-between;
  height: 6px;
  overflow: hidden;
  margin-top: -6px;
}

datalist option::before {
  content: '';
  display: block;
  width: 0;
  border-right: 1px solid #DDD;
  height: 10px;
  padding-left: 3px;
  text-indent: 0;
}

.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 1px solid #e0e0e0;
}

.md-accordion .card .card-header {
  border-bottom: 0;
  padding: 1rem 1.5rem;
  background: transparent;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.md-accordion .card .fa-angle-down {
  float: right;
}

.identicon-card-body .row {
  display:flex;
  justify-content:center;
  align-items:center;

}
/* section:first-child {
  margin-right: 30px;
}


table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  text-align: center;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
}


#inputText {
  width: 360px;
}


FONT_FAMILY_LIST
div label {
  margin-right: 15px;
}

input[type=radio] {
  margin: 0;
  position: relative;
  top: 2px;
}


#msg {
  color: gray;
}


_section + section fieldset {
  width: 800px;
}
*/
