_* {
  outline: 1px solid red;
}



body, html {
  height: 100%;
}

/*
table {
  table-layout: fixed;
  width: 500px;
}

tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}
thead tr{
  display:block;
}
*/


section {
  overflow: auto;
  padding: 5px;
}
/*
_body {
  overflow: hidden;
  _margin: 0;
}

thead, tbody {
display: block;
}

tbody {
  height: 600px;
    overflow-y: auto;
}
*/





body {
  display: flex;
  margin: 0;
}

table {
  border-collapse: collapse;
  _margin-right: 50px;
  min-width: 500px;
}

th, td {
  border: 1px solid grey;
  text-align: center;
  padding: 3px;
}

section > fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset input[type=text] {
  width: 300px;
}



div label {
  margin-right: 15px;
}

input[type=radio] {
  margin: 0;
  position: relative;
  top: 2px;
}




td:nth-child(n + 3):hover {
  background-color: lightgrey;
  cursor: pointer;
}
