.u,
.underline {
  text-decoration-line: underline;
}

.s,
.strikethrough {
  text-decoration-line: line-through;
}

.q,
.ol,
.overline {
  text-decoration-line: overline;
}

.l,
.bold {
  font-weight: bold;
}

.i,
.italic {
  font-style: italic;
}

.table-xsm > thead > tr > th > .tiny,
.table-xsm > tbody > tr > th > .tiny,
.table-xsm > tfoot > tr > th > .tiny,
.table-xsm > thead > tr > td > .tiny,
.table-xsm > tbody > tr > td > .tiny,
.table-xsm > tfoot > tr > td > .tiny {
   font-size: 4px;
}

#symbolsInHtml > .tiny {
   display: inline-block;
   font-size: 20px;
   font-weight: 600;
   margin-left: 10px;
}

/*
span + span {
    margin-left: 10px;
}
*/
.
/* colors */
.r,
.red {
  color: red;
}

.o,
.orange {
  color: orange;
}

.y,
.yellow {
  color: yellow;
  text-shadow: -1px -1px 0 #FFD300, 1px -1px 0 #FFD300, -1px 1px 0 #FFD300, 1px 1px 0 #FFD300;
}

.g,
.green {
  color: green;
}

.b,
.blue {
  color:blue;
}

.p,
.purple {
  color: purple;
}

.w,
.white {
  color: white;
  /*background-color: #000;*/
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.k,
.black {
  color: black;
  /* background-color: #FFF; */
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.z,
.gr,
.gray {
  color: gray;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

/* */
.bg-r,
.xr,
.bg-red {
  color: white;
  background-color: red;
  /*border-radius: 5px;*/  
}

.xo,
.bg-o,
.bg-orange {
  color: white;	
  background-color: orange;
}

.xy,
.bg-y,
.bg-yellow {
  color: white;
  background-color: yellow;
    text-shadow: -1px -1px 0 #FFD300, 1px -1px 0 #FFD300, -1px 1px 0 #FFD300, 1px 1px 0 #FFD300;
}

.xg,
.bg-g,
.bg-green {
  color: white;
  background-color: green;
}

.xg,
.bg-b,
.bg-blue {
  color: white;
  background-color:blue;
}

.xp,
.bg-p,
.bg-purple {
  color: white;
  background-color: purple;
}

.xw,
.bg-w,
.bg-white {
  color: black;
  background-color: white;
}

.xk,
.bg-k,
.bg-black {
  color: white;
  background-color: black;
}

.xgr,
.bg-gr,
.bg-gray {
  color: white;
  background-color: gray;
}