_* {
  outline: 1px solid red;
}


body {
  display: flex;
  margin: 0;
}


section:first-child {
  margin-right: 30px;
}


table {
  border-collapse: collapse;
  _min-width: 500px;
}

th, td {
  border: 1px solid gray;
  text-align: center;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#inputString {
  width: 400px;
}



div label {
  margin-right: 15px;
}

input[type=radio] {
  margin: 0;
  position: relative;
  top: 2px;
}


tbody:not(.empty) td:hover {
  background-color: lightgrey;
  cursor: pointer;
}


#msg {
  color: gray;
}


#symbolsInHtml {
  text-align: center;
  font-size: 40px;
  border: 1px solid gray;
  height: 60px;
}
